{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "easygenerator", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "mocha": true
  }
}
